<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>ユーザ登録・入力</title>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"></link>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/popper/1.11.1/js/popper.min.js"
  th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.min.js}"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</head>
<body>

  <div class="container-fluid">
    <h1>ユーザ登録/入力</h1>

    <form id="userForm" method="post" action="/user/confirm"
      th:action="@{/user/confirm}" th:object="${userForm}"
      class="form-horizontal" enctype="multipart/form-data">

      <!-- 名前 -->
      <div
        style="width: 90%; display: inline-block; text-align: center;">
        <div class="form-group row"
          th:classappend="${#fields.hasErrors('name')}? 'has-error'">
          <label for="name" class="col-sm-2 control-label">名前</label> <input
            type="text" class="col-sm-5 form-control" id="name"
            placeholder="名前" th:field="*{name}" />
          <div class="help-block" th:if="${#fields.hasErrors('name')}">
            <p class="text-danger" th:errors="*{name}" />
          </div>
        </div>
      </div>

      <!-- 電話 -->
      <div
        style="width: 90%; display: inline-block; text-align: center;">
        <div class="form-group row"
          th:classappend="${#fields.hasErrors('tel')}? 'has-error'">
          <label for="tel" class="col-sm-2 control-label">電話</label> <input
            type="text" class="col-sm-5 form-control" id="tel"
            placeholder="電話" th:field="*{tel}" />
          <div class="help-block" th:if="${#fields.hasErrors('tel')}">
            <p class="text-danger" th:errors="*{tel}" />
          </div>
        </div>
      </div>

      <!-- 住所 -->
      <div
        style="width: 90%; display: inline-block; text-align: center;">
        <div class="form-group row"
          th:classappend="${#fields.hasErrors('address')}? 'has-error'">
          <label for="address" class="col-sm-2 control-label">住所</label>
          <input type="text" class="col-sm-5 form-control" id="address"
            placeholder="住所" th:field="*{address}" />
          <div class="help-block"
            th:if="${#fields.hasErrors('address')}">
            <p class="text-danger" th:errors="*{address}" />
          </div>
        </div>
      </div>

      <div>
        <button type="submit" value="update" class="btn btn-primary"
          th:formaction="@{/user/confirm}">確認</button>
      </div>
    </form>
  </div>
</body>
</html>