<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script></head>
<body>

	<h1>商品確認</h1>
	
	<form id="productForm" method="post" action="/product/complete.html" th:action="@{update}" th:object="${productForm}" class="form-horizontal">
	
	<div style="width: 90%; display: inline-block; text-align: center;">
		<div class="form-group row">
			<label for="productId" class="col-sm-2 control-label">商品ID</label>
			<input type="hidden" th:field="*{productId}"/>
			<div class="col-sm-4">
				<p class="form-control-static" th:text="*{productId}">XXXXXXXX</p>
			</div>
		</div>
	
		<div class="form-group row">
			<label for="productId" class="col-sm-2 control-label">商品名</label>
			<input type="hidden" th:field="*{productName}"/>
			<div class="col-sm-4">
				<p class="form-control-static" th:text="*{productName}">XXXXXXXX</p>
			</div>
		</div>
	
		<div class="form-group row">
			<label for="productNameKana" class="col-sm-2 control-label">商品かな</label>
			<input type="hidden" th:field="*{productNameKana}"/>
			<div class="col-sm-4">
				<p class="form-control-static" th:text="*{productNameKana}">XXXXXXXX</p>
			</div>
		</div>
	
		<div class="form-group row">
			<label for="tagIds" class="col-sm-2 control-label">属性タグ</label>
			<input type="hidden" th:field="*{tagIds}"/>
            <input type="hidden" th:field="*{tagNames}"/>
			<div class="col-sm-4">
				<p class="form-control-static" th:text="*{tagIds}">属性ID</p>
                <p class="form-control-static" th:text="*{tagNames}">属性名</p>
			</div>
		</div>
	
		<div class="form-group row">
			<label for="tagIds" class="col-sm-2 control-label">参考画像ファイル</label>
			<input type="hidden" th:field="*{imageFileName}"/>
            <input type="hidden" th:field="*{savedImageFilePath}"/>
			<div class="col-sm-4">
				<p class="form-control-static" th:text="*{imageFileName}">XXXXXXXX.jpg</p>
			</div>
		</div>
		
		<div>
			<button type="submit" id="btn_back" value="back" class="btn btn-default" th:formaction="@{input}">戻る</button>
			<button type="submit" id="btn_update" value="update" class="btn btn-primary" th:formaction="@{update}">登録</button>
		</div>
		
		<input type="hidden" name="condition" th:value="*{condition}" />
	</div>

	</form>

</body>
</html>