<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script></head>
<body>

	<h1>商品登録</h1>
	
	<form id="productForm" method="post" action="/search/list.html" th:action="@{/product/confirm}" th:object="${productForm}" class="form-horizontal" enctype="multipart/form-data">
	
	<div style="width: 90%; display: inline-block; text-align: center;">
		<div class="form-group row">
			<label for="productId" class="col-sm-3 col-form-label text-right">商品ID</label>
			<input type="text" class="col-sm-4 form-control" id="productId" placeholder="商品ID" th:field="*{productId}" th:value="${productId}" />
		</div>
	
		<div class="form-group row" th:classappend="${#fields.hasErrors('productName')}? 'has-error'">
			<label for="productName" class="col-sm-3 col-form-label text-right">商品名</label>
			<input type="text" class="col-sm-4 form-control" id="productName" placeholder="商品名" th:field="*{productName}" th:value="${productName}" />
			<div class="help-block" th:if="${#fields.hasErrors('productName')}">
				<p class="text-danger" th:errors="*{productName}"/>
			</div>
		</div>
	
		<div class="form-group row">
			<label for="productNameKana" class="col-sm-3 col-form-label text-right">商品かな</label>
			<input type="text" class="col-sm-4 form-control" id="productNameKana" placeholder="商品かな" th:field="*{productNameKana}" th:value="${productNameKana}" />
		</div>

		<div class="form-group row">
			<label for="tagIds" class="col-sm-3 col-form-label text-right">属性タグ</label>
			<div class="col-sm-4">
				<select multiple="multiple" id="tagIds" name="tagIds" class="form-control">
					<option selected="selected" value="">選択...</option>
                     <option th:each="tag : ${tagMap}" th:value="${tag.key}" th:inline="text">[[${tag.value}]]</option>
				</select>
			</div>
		</div>
		
		<div class="form-row">
			<label for="attrTags" class="col-form-label col-sm-3 text-right">参考画像</label>
			<div class="col-sm-6">
				<input type="file" id="filechooser" style="display: none" multiple="multiple" name="imageFile" />
				<div class="input-group">
					<input type="text" id="filechooser_info" class="form-control" placeholder="Please select your file..." autocomplete="off" readonly="readonly" />
					<span class="input-group-btn">
						<button type="button" id="btn_browse" class="btn btn-default">
							<i class="fa fa-file-text-o" aria-hidden="true"></i>
						</button>
						<button type="button" id="btn_trash" class="btn btn-default">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		
		<br/>
		<div>
			<button type="submit" id="btn_back" value="back" class="btn btn-default" th:formaction="@{/search/search}">戻る</button>
			<button type="button" id="btn_update" value="update" class="btn btn-primary" th:formaction="@{/product/confirm}">確認</button>
		</div>
	</div>

	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>

	<!-- for page -->
		<script type="text/javascript" th:inline="javascript">
		$(function() {
			$(document).on('change', ':file', function() {
				var input = $(this),
				numFiles = input.get(0).files ? input.get(0).files.length : 1,
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
				input.parent().next(':text').val(label);
			});
			$('#filechooser').on('change', function() {
				var files = $(this).prop('files');
				$('#filechooser_info').val(files.length + " file(s) selected.");
			});
			$('#btn_browse').on('click', function() {
				$('#filechooser').click();
			});
			$('#filechooser_info').on('click', function() {
				$('#filechooser').click();
			});
			$('#btn_trash').on('click', function() {
				$('#filechooser').val('');
				$('#filechooser_info').val('');
			});

            var getSelectedIds = function(s) {
                var f = function() { return $(this).val(); };
                return $(s).find('option:selected').not('[value=-1]').map(f);
            };

            $('#btn_update').on('click', function() {
                $('input[name=condition]').remove();
                $('#productForm').append($('<input type="hidden" name="condition" />').val(
                    JSON.stringify({
                    	productId: $('input[name=productId]').val(),
                    	productName: $('input[name=productName]').val(),
                    	productNameKana: $('input[name=productNameKana]').val(),
                    	tagIds: getSelectedIds('select[name=tagIds]').get(),
                    })
                ));

                $('#productForm').submit();
                return false;
            });
		});
		</script>

</body>
</html>